body {
    background-color: greenyellow;
}

LeftTab {
    border: 2px solid black;
    display: inline-block;
    position: fixed;
    width: 20%;
    height: 560px;
    margin: 0 20% 100% 5px;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
}

Logo {
    display: inline-block;
    margin-left: 35%;
}

Filters {
    border: 2px solid red;
    display: inline-block;
    width: 99%;
    height: 86%;
}

RightTab{
    margin: 0 80% 0 21%;
    display: inline-block;
    width: 80%;
    height: 100%;
}

TopTab {
    border: 2px solid black;
    display: inline-block;
    width: 91%;
    height: 100px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 30px;
    margin-left: 2.5%;
    background-color: green;
    border-radius: 10px;
}

Products {
    border: 2px solid black;
    display: inline-block;
    width: 45%;
    margin-left: 3.5%;
    height: 150px;
    border-radius: 20px;
    background-color: orange;
}

img {
    padding: 0;
    margin: 0;
    height: 120px;
    width: 130px;
    margin: 13px 0 0 13px;
    display: inline-block;
    border-radius: 10px;
    padding-left: 5px;
}

h3 {
    display: inline-block;
    position: relative;
    bottom: 100px;
    left: 35px;
}

p {
    display: inline-block;
    position: relative;
    bottom: 50px;
    right: 100px;
    width: 150px;
}

Like {
    display: inline-block;
    position: relative;
    bottom: 110px;
    left: 55px;
    cursor: pointer;
}

Options {
    border: 2px solid pink;
    display: inline-block;
    width: 99%;
    height: 50px;
}

#LogoImg {
    height: 70px;
    width: 70px;
    max-width: fit-content;
    margin-left: -100px;
    margin-top: 5px;
    display: inline-block;
}

h1 {
    display: inline-block;
    font-size: 35px;
    position: absolute;
    top: 0px;
    left: 100px;
}

#Search {
    border: 2px solid black;
    display: inline-block;
    position: relative;
    top: 32%;
    left: 16%;
    width: 70%;
    height: 40px;
    border-radius: 20px;
}

#SearchSubmit {
    border: 2px solid black;
    display: inline-block;
    position: relative;
    top: 32%;
    left: 125px;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    transform: rotate(90deg);
}

div {
    display: inline-block;
}

p2 {
    position: relative;
    right: 100px;
    bottom: 20px;
}

