body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(180deg, rgba(255,229,191,1) 62%, rgba(255,152,0,1) 100%);}

input, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

#block {
    display: inline-block;
    padding: 20px;
    border: 1px solid black;
}

#Main {
    display: grid;
    place-content: center;
}

#Page {
    background-color: white;
    border: 2px solid black;
    width: 300%;
    margin-left: -100%;
    box-shadow: 10px 10px 100px 10px #d9af70;
}

p , h1 {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

#SubmitForm {
    border: 3px solid black;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 40px;
}

input {
    accent-color: #ff9800;
    cursor: pointer;
}

input:focus {
    box-shadow: 0 0 8px 3px orange;
    outline: none;
}

#SubmitForm:hover {
    box-shadow: 0 0 100px 10px orange;
    transition: 0.5s;
}
